@font-face {
    font-family:'Droid Sans';
    src: url('Droid Sans Bold.eot');
	src: url('Droid Sans Bold.eot?#iefix') format('embedded-opentype'),
		url('Droid Sans Bold.woff2') format('woff2'),
		url('Droid Sans Bold.woff') format('woff'),
		url('Droid Sans Bold.ttf') format('truetype'),
		url('Droid Sans Bold.otf') format('opentype'),
		url('Droid Sans Bold.svg#Droid Sans Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}